.root {
  @apply space-y-3;
}

.signUpBtn {
  @apply w-full px-4 py-2 rounded-xl bg-blue-600 text-white;
}

.bottomText {
  @apply text-center text-sm;
}

.linkBtn {
  @apply text-blue-600 ml-1;
}

.nameRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}