.input {
  width: 100%;
  padding: 0.5rem 0.75rem; /* px-3 py-2 */
  border-radius: 0.75rem;
  border: 1px solid #e5e7eb;
  background-color: #ffffff;
  font-size: 0.875rem;
}

:global(.dark) .input {
  background-color: #020617; /* dark:bg-slate-900/950 */
  border-color: #334155;     /* dark:border-slate-700 */
  color: #f9fafb;
}
